<section class="infocard card" id="infocard">
    <div class="infocard-title">
        <a title="{{@blog.title}}" href='{{@blog.url}}'>
            <h1>{{@blog.title}}</h1>
        </a>
    </div>
    <div class="infocard-logo">
        {{#if @blog.logo}}
        <div class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></div>
        {{else}}
        <div class="blog-logo" href="{{@blog.url}}"><svg /></div>
        {{/if}}
    </div>
    <div class="infocard-text">
        <p class="blog-description">
            {{@blog.description}}
        </p>
    </div>
    {{> footer}}
</section>
