{{#if next}}
{{^if prev}}
{{!-- if next --}}
    <div class="card_wrapper card_index wrapper_pagination">
    <a class="older_posts" href="{{page_url next}}">
    <nav class="card pagination">
    <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </nav>
    </a>
    </div>
{{else}}
{{!-- if next and previous --}}
    <div class="card_wrapper card_index wrapper_pagination">
    <a class="newer_posts" href="{{page_url prev}}">
    <nav class="card pagination">
    {{!-- if previous --}}
    <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </nav>
    </a>
    </div>
    <div class="card_wrapper card_index wrapper_pagination">
    <a class="older_posts" href="{{page_url next}}">
    <nav class="card pagination">
    <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </nav>
    </a>
    </div>
{{/if}}
{{/if}}
{{#if prev}}
{{^if next}}
    <div class="card_wrapper card_index wrapper_pagination">
    <a class="newer_posts" href="{{page_url prev}}">
    <nav class="card pagination">
    {{!-- if previous --}}
    <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </nav>
    </a>
    </div>
{{/if}}
{{/if}}
