{{#if next}}
{{^if prev}}
{{!-- if next --}}
    <div class="card-wrapper card-index wrapper-pagination">
    <a class="older-posts" href="{{page-url next}}">
    <nav class="card pagination">
    <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </nav>
    </a>
    </div>
{{else}}
{{!-- if next and previous --}}
    <div class="card-wrapper card-index wrapper-pagination">
    <a class="newer-posts" href="{{page-url prev}}">
    <nav class="card pagination">
    {{!-- if previous --}}
    <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </nav>
    </a>
    </div>
    <div class="card-wrapper card-index wrapper-pagination">
    <a class="older-posts" href="{{page-url next}}">
    <nav class="card pagination">
    <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </nav>
    </a>
    </div>
{{/if}}
{{/if}}
{{#if prev}}
{{^if next}}
    <div class="card-wrapper card-index wrapper-pagination">
    <a class="newer-posts" href="{{page-url prev}}">
    <nav class="card pagination">
    {{!-- if previous --}}
    <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </nav>
    </a>
    </div>
{{/if}}
{{/if}}
