{{#if next}}
{{^if prev}}
{{!-- if next --}}
    <div class="buster_card_wrapper buster_card_index buster_wrapper_pagination">
    <a class="buster_older_posts" href="{{page_url next}}">
    <nav class="buster_card buster_pagination buster_scale">
    <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </nav>
    </a>
    </div>
{{else}}
{{!-- if next and previous --}}
    <div class="buster_card_wrapper buster_card_index buster_wrapper_pagination">
    <a class="buster_newer_posts" href="{{page_url prev}}">
    <nav class="buster_card buster_pagination buster_scale">
    {{!-- if previous --}}
    <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </nav>
    </a>
    </div>
    <div class="buster_card_wrapper buster_card_index buster_wrapper_pagination">
    <a class="buster_older_posts" href="{{page_url next}}">
    <nav class="buster_card buster_pagination buster_scale">
    <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </nav>
    </a>
    </div>
{{/if}}
{{/if}}
{{#if prev}}
{{^if next}}
    <div class="buster_card_wrapper buster_card_index buster_wrapper_pagination">
    <a class="buster_newer_posts" href="{{page_url prev}}">
    <nav class="buster_card buster_pagination buster_scale">
    {{!-- if previous --}}
    <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </nav>
    </a>
    </div>
{{/if}}
{{/if}}
