<div class="buster_card_wrapper buster_wrapper_more">
    <div class="buster_card buster_card_more buster_scale">
        <a href="{{{url}}}" rel="bookmark">
        <div class="buster_card_image">
            {{#if image}}
                <img src="{{image}}" alt="{{title}}"></img>
            {{else}}
                <svg alt="{{title}}"/ >
            {{/if}}
            <div class="buster_card_image_filter"></div>
            <div class="buster_card_title">
                <h3 class="buster_post_title">{{title}}</h3>
            </div>
        </div>
        <div class="buster_card_content">
            <div class="buster_post_summary">
                <p class="buster_post_excerpt">{{{excerpt words="50"}}}</p>
            </div>
        </a>
            {{#if tags}}
            <div class="buster_post_footer_wrapper">
                <div class="buster_post_footer">
                    <i class="fa fa-tag" aria-hidden="true"></i>{{tags separator=", "}}
                </div>
            </div>
            {{/if}}
            <time class="buster_date" datetime="{{date format="YYYY-MM-DD"}}">
        </div>

    </div>
</div>