<div class="buster_sidebar">
    <div class="buster_sidebar_image">
    {{#if @blog.cover}}
            <a class="buster_blog_cover" href="{{@blog.url}}"><img src="{{@blog.cover}}" alt="{{@blog.title}}" /></a>
     {{else}}
        <a class="buster_blog_cover" href=""><img /></a>
    {{/if}}
    </div>
    <div class="buster_sidebar_logo">
    {{#if @blog.logo}}
        <a class="buster_blog_logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>
    {{else}}
        <a class="buster_blog_logo" href=""><img /></a>
    {{/if}}
    </div>
    <h1 class="buster_blog_title">
        <a title="{{@blog.title}}" href='{{@blog.url}}'>
        {{{@blog.title}}}
        </a>
    </h1>
    <p class="buster_blog_description">
        <a title="{{@blog.title}}" href='{{@blog.url}}'>
            {{@blog.description}}
        </a>
    </p>
    {{#if @blog.navigation}}
        <div class="buster_navigation">
            {{navigation}}
        </div>
    {{/if}}

</div>