<div class="sidebar card" id="sidebar">
    <div class="sidebar-title">
        <a title="{{@blog.title}}" href='{{@blog.url}}'>
            {{#is 'index'}}
            <h1>
                {{{@blog.title}}}
            </h1>
            {{else}}
            <h2>
                {{{@blog.title}}}
            </h2>
            {{/is}}
        </a>
    </div>
    <div class="sidebar-logo">
    {{#if @blog.logo}}
        <a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>
    {{else}}
        <a class="blog-logo" href="{{@blog.url}}"><svg /></a>
    {{/if}}
    </div>
    <div class="sidebar-text">
    <p class="blog-description">
        <a title="{{@blog.title}}" href='{{@blog.url}}'>
            {{@blog.description}}
        </a>
    </p>
    </div>
    {{> footer}}
</div>
