<div class="buster_sidebar buster_card" id="sidebar">
    <div class="buster_sidebar_title">
        <a title="{{@blog.title}}" href='{{@blog.url}}'>
            <h1>
                {{{@blog.title}}}
            </h1>
        </a>
    </div>
    <div class="buster_sidebar_logo">
    {{#if @blog.logo}}
        <a class="buster_blog_logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>
    {{else}}
        <a class="buster_blog_logo" href="{{@blog.url}}"><svg /></a>
    {{/if}}
    </div>
    <div class="buster_sidebar_text">
    <p class="buster_blog_description">
        <a title="{{@blog.title}}" href='{{@blog.url}}'>
            {{@blog.description}}
        </a>
    </p>
    </div>
    {{> footer}}
</div>
