<div role="sidebar" class="buster_sidebar">
    {{#if @blog.cover}}
        <div class="buster_blog_cover" href="{{@blog.url}}"><img src="{{@blog.cover}}" alt="{{@blog.title}}" /></div>
    {{else}}
        <div class="buster_blog_cover" href="{{@blog.url}}"><img src="{{asset "images/city_skyline.png"}}" alt="{{@blog.title}}" /></div>
    {{/if}}
    {{#if @blog.logo}}
        <div class="buster_blog_logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></div>
    {{else}}
        <div class="buster_blog_logo" href="{{@blog.url}}"><img src="{{asset "images/profile_picture.jpg"}}" alt="{{@blog.title}}" /></div>
    {{/if}}
    <h1 class="buster_blog_title">
        <a title="{{@blog.title}}" href='{{@blog.url}}'>
        {{{@blog.title}}}
        </a>
    </h1>
    <p class="buster_blog_description">
        <a title="{{@blog.title}}" href='{{@blog.url}}'>
            {{@blog.description}}
        </a>
    </p>
    <div role="navigation" class="buster_navigation">
        {{navigation}}
    </div>
</div>
