<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{{meta_title}}</title>
        <meta name="description" content="{{meta_description}}" />
        <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,700" rel="stylesheet" type="text/css">
        <script src="//cdn.jsdelivr.net/velocity/1.2.3/velocity.min.js"></script>
        <script type="text/javascript" src="{{asset "js/main.js"}}"></script>
        <meta name="HandheldFriendly" content="True" />
        <meta name="MobileOptimized" content="320" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {{ghost_head}}
    </head>
    <body class="{{body_class}}">
        {{> sidenavigation}}
        {{> header}}
        {{> infocard}}
        <main class="main" id="content">
            {{{body}}}
        </main>
        <div class="sunscreen" id="sunscreen" onclick="clear_sunscreen()"></div>
    </body>
</html>