{{!< default}}
{{> sidebar}}
<main class="buster_main" role="main">
    {{!-- {{> header}} --}}
    {{#foreach posts}}
    <div class="buster_card_wrapper buster_card_index">
    <a href="{{{url}}}" rel="bookmark">
        <article class="buster_card buster_scale" role="article" itemscope itemtype="http://schema.org/Article">
            <div class="buster_card_image">
                {{#if image}}
                    <img src="{{image}}" alt="{{title}}"></img>
                {{else}}
                    <img src=""></img>
                {{/if}}
                <div class="buster_card_title">
                    <h2 class="buster_post_title" itemprop="headline">{{title}}</h2>
                </div>
            </div>
            <div class="buster_card_content">
                <div class="buster_post_summary" itemprop="articleBody">
                    <p>{{{excerpt characters="100"}}}...</p>
                </div>
                {{#if tags}}
                    <div class="buster_post_tags">
                        <i class="fa fa-tag" aria-hidden="true"></i> {{tags separator=", "}}
                    </div>
                {{/if}}
                <time class="buster_date" datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">
            </div>
        </article>
    </a>
    </div>
    {{/foreach}}
{{!--     {{#if pagination}}
    <div class="buster_pagination">
        {{{pagination}}}
    </div>
    {{/if}} --}}
</main>