{{!< default}}
{{> sidebar}}
<main class="buster_main" role="main">
    <div class="buster_article_list">
        {{#foreach posts}}
        <article class="buster_article" role="article" itemscope itemtype="http://schema.org/Article">
            <a href="{{url}}">
                <header class="buster_post_header">
                    {{#if image}}
                        <div class="buster_post_image"><img src="{{image}}" alt="{{title}}"></img></div>
                    {{else}}
                        <div class="buster_post_image"><img src="{{asset "images/filler.png"}}"></img></div>
                    {{/if}}
                    <h2 class="buster_post_title" itemprop="headline">
                        {{title}}
                    </h2>
                </header>
                {{!-- <div class="buster_post_content" itemprop="articleBody">
                    {{content words=50}}
                </div> --}}
            </a>
            <div class="buster_post_footer">
                <div class="buster_post_date">
                    <time class="buster_date" datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">{{date format="YYYY-MM-DD"}}</time>
                </div>
            {{#if tags}}
                <div class="buster_post_tags">
                    <i class="fa fa-tag" aria-hidden="true"></i> {{tags separator=", "}}
                </div>
            {{/if}}
            </div>
        </article>
        {{/foreach}}
        {{> footer}}
    </div>
</main>