{{!< default}}
{{> sidebar}}
<main class="buster_main" role="main">
    {{!-- {{> header}} --}}
        {{#foreach posts}}
        <article class="buster_article" role="article" itemscope itemtype="http://schema.org/Article">
            <a href="{{url}}">
                <header class="buster_post_header">
                    {{#if image}}
                        <div class="buster_post_image"><img src="{{image}}" alt="{{title}}"></img></div>
                    {{else}}
                        <div class="buster_post_image"><img src="{{asset "images/filler.png"}}"></img></div>
                    {{/if}}
                    <time class="buster_date" datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">
                    <h2 class="buster_post_title" itemprop="headline">
                        {{title}}
                    </h2>
                </header>
                <div class="buster_post_content" itemprop="articleBody">
                    {{content words=50}}
                </div>
                {{#if tags}}
                <div class="buster_post_tags">
                    Tags: {{tags separator=" | "}}
                </div>
                {{/if}}
            </a>
        </article>
        {{/foreach}}
    {{> footer}}
</main>