{{!< default}}
{{> sidebar}}
{{> mobileheader}}
    {{#post}}
    <div class="buster_article_wrapper">
    <article class="buster_article_inner_wrapper" role="article" itemscope itemtype="http://schema.org/Article">
            <header class="buster_post_header">
                {{#if image}}
                    <div class="buster_post_image"><img src="{{image}}" alt="{{title}}"></img></div>
                {{else}}
                    <div class="buster_post_image"><img src="{{asset "images/filler.png"}}"></img></div>
                {{/if}}
                <time class="buster_full_date" datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">{{date format='dddd DD MMM YYYY'}}</time>
                <h2 class="buster_post_title" itemprop="headline">
                    {{title}}
                </h2>
            </header>
            <div class="buster_post_content" itemprop="articleBody">
                {{content}}
            </div>
            {{#if tags}}
                <div class="buster_post_tags">
                    <i class="fa fa-tag" aria-hidden="true"></i> {{tags separator=", "}}
                </div>
            {{/if}}
                {{#if author}}
                    <footer class="buster_post_footer">
                        <address itemscope itemtype="http://schema.org/Person">
                            {{#if author.image}}
                                <div class="buster_author_image"><img src="{{author.image}}" itemprop="image" /></div>
                            {{/if}}
                            <h4 class="buster_author_name"><span itemprop="author">{{author.name}}</span></h4>
                            {{#if author.website}}
                                <div class="buster_author_website"><a href="{{author.website}}" itemprop="url">{{author.website}}</a></div>
                            {{/if}}
                        </address>
                        <div class="buster_author_bio">
                            <p>{{author.bio}}</p>
                        </div>
                    </footer>
                {{/if}}
    </article>
    </div>
    {{/post}}
    {{#if pagination}}
        <div class="pagination">
            {{{pagination}}}
        </div>
    {{/if}}