{{!< default}}
<div class="articles_wrapper">
<div class="post_view">
{{#post}}
{{#is "post"}}
<div class="card_wrapper card_post_wrapper">
{{else}}
<div class="card_wrapper card_page_wrapper">
{{/is}}
<div class="card card_post">
    <article class="article">
        <div class="card_image">
            {{#if image}}
                <img src="{{image}}" alt="{{title}}"></img>
            {{else}}
                <svg alt="{{title}}"/ >
            {{/if}}
            <div class="card_image_filter"></div>
            <div class="card_title">
                <h1 class="post_title">{{title}}</h1>
            </div>
        </div>
        <div class="card_content card_content_post">
            {{content}}
        {{^is "page"}}
        <div class="post_footer_wrapper">
            <div class="post_footer">
                {{#if tags}}
                <span class="post_tags"><i class="fa fa-tag" aria-hidden="true"></i><span>{{tags separator=", "}}</span></span>
                {{/if}}
                <span class="post_date"><i class="fa fa-calendar" aria-hidden="true"></i><time datetime="{{date format="YYYY-MM-DD"}}">{{date}}</time></span>
            </div>
        </div>
        {{/is}}
        {{!-- <div class="share_post">
            <h4 class="share">Share this post: &nbsp;</h4>
            <a class="share icon-twitter" target="_blank" href="http://twitter.com/share?text={{title}}&url={{url absolute="true"}}"><span class="hide_this">Twitter</span></a>
            <a class="share icon-facebook" target="_blank" href="http://www.facebook.com/sharer.php?u={{url absolute="true"}}"><span class="hide_this">Facebook</span></a>
            <a class="share icon-gplus" target="_blank" href="https://plus.google.com/share?url={{url absolute="true"}}"><span class="hide_this">Google+</span></a>
        </div> --}}
        </div>
    </article>
    </div>
</div>

{{#is "post"}}
<div class="wrapper_more_articles">
    <div class="wrapper_more">
        <div class="card card_more">
            <div class="read_more">
                <h2><i class="fa fa-th-list" aria-hidden="true"></i> Read more</h2>
            </div>
        </div>
    </div>
    {{#prev_post}}
    {{> postcardmore}}
    {{/prev_post}}
    {{#next_post}}
    {{> postcardmore}}
    {{/next_post}}
</div>
{{/is}}
{{/post}}
{{!--     <div class="card_wrapper scroll_message" onclick="scroll_to_top()">
<div class="card">
<span>SCROLL TO TOP!</span>
</div>
</div> --}}
</div>
</div>
