{{!< default}}
<div class="articles-wrapper">
    <div class="post-view">
        {{#post}}
        {{#is "post"}}
        <div class="card-wrapper card-post-wrapper">
        {{else}}
        <div class="card-wrapper card-page-wrapper">
        {{/is}}
            <div class="card card-post">
                <article class="article {{post_class}}">
                    <div class="card-image">
                        {{#if image}}
                            <img src="{{image}}" alt="{{title}}"></img>
                        {{else}}
                            <svg alt="{{title}}"/ >
                        {{/if}}
                        <div class="card-image-filter"></div>
                        <div class="card-title">
                            <h1 class="post-title">{{title}}</h1>
                        </div>
                    </div>
                    <div class="card-content card-content-post">
                        {{content}}
                    {{^is "page"}}
                    <div class="post-footer-wrapper">
                        <div class="post-footer">
                            {{#if tags}}
                            <span class="post-tags"><i class="fa fa-tag" aria-hidden="true"></i><span>{{tags separator=", "}}</span></span>
                            {{/if}}
                            <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i><time datetime="{{date format="YYYY-MM-DD"}}">{{date}}</time></span>
                        </div>
                    </div>
                    {{/is}}
                    </div>
                </article>
            </div>
        </div>
        {{#is "post"}}
        <div class="wrapper-more-articles">
            <div class="wrapper-more">
                <div class="card card-more">
                    <div class="read-more">
                        <span><i class="fa fa-th-list" aria-hidden="true"></i> Read more</span>
                    </div>
                </div>
            </div>
            {{#prev_post}}
            <div class="card-wrapper wrapper-more {{post_class}}">
                {{> postcard}}
            </div>
            {{/prev_post}}
            {{#next_post}}
            <div class="card-wrapper wrapper-more {{post_class}}">
                {{> postcard}}
            </div>
            {{/next_post}}
        </div>
        {{/is}}
        {{/post}}
        {{> scrollbutton}}
    </div>
</div>
