{{!< default}}
{{> header}}
<main class="buster_main" role="main">
    {{#post}}
        <article class="buster_article" role="article" itemscope itemtype="http://schema.org/Article">
            <header class="buster_post_header">
                <time class="buster_date" datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">{{date format='dddd DD MMM YYYY'}}</time>
                <h2 class="buster_post_title" itemprop="headline">{{title}}</h2>
            </header>
            <div class="buster_post_content" itemprop="articleBody">
                {{content}}
            </div>
            {{#if tags}}
                <div class="buster_post_tags">
                    Tags: {{tags separator=" | "}}
                </div>
            {{/if}}
                <div class="buster_share_post">
                    <h4 class="buster_share">Share this post: &nbsp;</h4>
                    <a class="buster_share icon-twitter" target="_blank" href="http://twitter.com/share?text={{title}}&url={{url absolute="true"}}"><span class="buster_hide_this">Twitter</span></a>
                    <a class="buster_share icon-facebook" target="_blank" href="http://www.facebook.com/sharer.php?u={{url absolute="true"}}"><span class="buster_hide_this">Facebook</span></a>
                    <a class="buster_share icon-gplus" target="_blank" href="https://plus.google.com/share?url={{url absolute="true"}}"><span class="buster_hide_this">Google+</span></a>
                </div>
                    {{#if author}}
                        <footer class="buster_post_footer">
                            <address itemscope itemtype="http://schema.org/Person">
                                {{#if author.image}}
                                    <div class="buster_author_image"><img src="{{author.image}}" itemprop="image" /></div>
                                {{/if}}
                                <h4 class="buster_author_name"><span itemprop="author">{{author.name}}</span></h4>
                                {{#if author.website}}
                                    <div class="buster_author_website"><a href="{{author.website}}" itemprop="url">{{author.website}}</a></div>
                                {{/if}}
                            </address>
                            <div class="buster_author_bio">
                                <p>{{author.bio}}</p>
                            </div>
                        </footer>
                    {{/if}}
        </article>
    {{/post}}
    {{#if pagination}}
        <div class="pagination">
            {{{pagination}}}
        </div>
    {{/if}}
    {{> footer}}
</main>